.app-container{
  background-color: #000;
  height: 100vh;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.site-footer{
  margin: 1rem;
}

.site-content{
  background-color: #fff;
  color: #000;
}
