.home-container{
  background: linear-gradient( to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%),
               url('../images/mars-bkg.jpg') no-repeat center top;
  background-size: cover;
  height: 100vh;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.enter-button {
  width: 6rem;
  height: 6rem;
  margin: 1rem;
  background: rgba(237,237,237,.2);
  border-radius: 50%;
  animation: button-pulse 1.5s infinite;

  a{
    display: block;
    padding: 2rem;
  }
}
