.register-form{
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  margin: 2rem 0;
  outline: none;

  label{
  font-size: 1rem;
  color: red;
  margin-right: .5rem;
  }

  input, select{
    width: 100%;
    padding: 0 1rem;
    height: 2rem;
    font-size: 1rem;
    background: 0;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

.box{
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}

.placeholder{
  color: #cd0b1d;
}
