<div class="app-container">
  <div class="site-header">
    <h1 class="site-title">Register</h1>
  </div>
  <div class="site-content">
    <form class="register-form">
      <input placeholder="Name" />
      <input placeholder="Age" />
      <div class="custom-select">
        <select>
          <option class="placeholder">Select Occupation</option>
          <option value="1">Dust Farmer</option>
          <option value="2">Alien Hunter</option>
          <option value="3">Battery Technician</option>
          <option value="4">Yoga Instructor</option>
          <option value="5">Front-end Developer</option>
        </select>
      </div>
    </form>
  </div>
  <div class="site-footer">
   <button><a class="router-link" [routerLink]="['/encounters']">Check-in</a></button>
  </div>
</div>
